<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Miaservelet</servlet-name>
  	<display-name>Miaservelet</display-name>
  	<description></description>
  	<servlet-class>org.sincrono.corso.Miaservelet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>My2servelet</servlet-name>
  	<display-name>My2servelet</display-name>
  	<description></description>
  	<servlet-class>org.sincrono.corso.My2servelet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>My2servlet</servlet-name>
  	<display-name>My2servlet</display-name>
  	<description></description>
  	<servlet-class>org.sincrono.corso.My2servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Miaservelet</servlet-name>
  	<url-pattern>/Miaservelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>My2servelet</servlet-name>
  	<url-pattern>/My2servelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>My2servlet</servlet-name>
  	<url-pattern>/My2servlet</url-pattern>
  </servlet-mapping>
</web-app>
